body{
    background-image: linear-gradient(to right, rgb(104, 104, 179),rgb(158, 208, 228));
}
.two{
    padding-top: 20px;
}
.heading{
    margin-top: 20px;
    background-color: floralwhite;
    padding-bottom: 20px;
    border-radius: 30px;
}
.pic{
    width: 100%;
    height: 100%;
}

.box{
    padding-top: 40px;
    margin-right: 5em;
    margin-left: 5em;
    margin-bottom: 5em;
}

.title{
    font-family: sans-serif;
}
table{
    color: indigo;
}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 30px;
}

.heading{
    font-weight: bolder;
    padding-top: 40px;
    font-size: x-large;
    color: darkblue;
    text-transform: uppercase;
}

.heading:hover{
    font-size: xx-large;
    color: black;
}
.link{
    margin-top: 5px;
    float: right;
    background-color: black;
    padding: 10px;
    border-radius: 25px;
}

a{
    text-decoration: none;
}

.foot{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.center{
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    background-color: rgb(15, 54, 48);
    border-radius: 15px;
}
.aboutus{
    background-image: linear-gradient(to right, rgb(142, 235, 241),white);
}

h6{
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}





